
body{
    background-image:url(../images/crystalpic.jpeg);
}
header{
    background-color:orangered;
    font-size:30px;
    font-weight:bold;
    color:white;
    width: 240px;
    padding:15px;
    margin-bottom:10px;
}
p{
    color:black;
    background-color:beige;
    width:400px;
    padding:15px;
    margin:0px;
    padding-bottom:10px;
    
}
#pointsNeeded{
    background-color:lightgreen;
    width:150px;
    height:90px;
    margin-top:10px;
    float:left;
    text-align:center;
    font-size:40px;
}
#score{
    background-color:lightblue;
    height:90px;
    width:80px;
    float:left;
    margin-top:10px;
    margin-left:10px;
    font-size:15px;
    
}
#images{
    clear:none;
    margin:110px;
    margin-left:10px;
    margin-bottom:10px;

}
#scoring{
    background-color:teal;
    color:white;
    font-size:16px;
    width:160px;
    height:10px;
    padding:15px;
}
#numberScored{
    background-color:teal;
    color:white;
    font-size:30px;
    width:160px;
    height:60px;
    margin-top:10px;
    text-align:center;

}
@media screen and (max-width:640px){
    body{
        margin:0px;
    }
    header{
      width:100%;
      margin:0;
      text-align:center;
    }
    p{
      width:99%;
     
    }
    #pointsNeeded{
        width:50%;
    }
    #score{
        width:47%;
    }
    #images{
        margin-left:150px;
        
    }
    #scoring{
        width:100%;
        text-align:center;
    }
    #numberScored{
        width:100%;
        height:100px;

    }

    }
